<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="robots" content="noindex" />
      <base href="/bull-board" />
      <title>Bull board</title>
      <link rel="alternate icon" type="image/png" href="{{ asset('assets/images/favicon-32x32.png') }}">
      {{--  <link rel="icon" type="image/svg+xml" id="fav-logo" href="{{ asset('assets/images/logo.svg') }}">  --}}
      <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">

      <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">  
  </head>

  <body>
    <div id="root">Loading...</div>
    <script src="{{ asset('assets/app.js') }}"></script>
  </body>
</html>